body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(15,55,21,0.7);
    z-index: 0;
}

.navbar-container{
    display: flex;
    justify-content:space-between;
    max-width: auto;
    margin: 0 auto;
}

.logo img{
    height: 40px;
    width: auto;
    align-items: left;
    margin-left: 10px;
    margin-top: 1px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: right;
}

.navbar li{
    margin: 0 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-size: large;
    transition: color 0.5s ease;
}

.navbar a.active{
    color: rgb(15,55,21);
    background-color: white;
}

section{
    height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#home { 
    text-align: center;
    color: white;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    

    background: linear-gradient(
      to bottom,
      rgba(15, 55, 21),    /* top */
      rgba(15, 55, 21,0.95)20%,
      rgba(15, 55, 21, 0.7) 
    );
  }

#home img{
    max-width: 50%;
    height: auto;
    align-items: left;
    object-fit:contain;
    margin: 5px auto;
}

.menu-toggle{
    display: none;
    font-size: 28px;
    background: rgb(8, 92, 8);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}


@media screen and (max-width: 768px) {
    .navbar-container {
        flex-wrap: wrap;
      }
    
      .menu-toggle {
        display: block;
        font-size: 10px;
      }
    
      .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(15, 55, 21, 0.95);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 8px;
        z-index: 999;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      .nav-links li {
        margin: 10px 0;
      }
    #home img {
        max-width: 80%;
    }
    
}
  